* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: left;
  top: 40%;
  font-size: 2rem;
}
body{
    min-height: 100vh;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h1,h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    text-align: justify;
}

.side-menu{
    position: fixed;
    background: rgba(30, 30, 30, 0.35); /* transparent layer */
    backdrop-filter: blur(14px);
   -webkit-backdrop-filter: blur(14px);
    border-right: 3px solid rgba(255, 255, 255, 0.15);
    width: 33vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.side-menu .brand-name{
    height: 10vh;
    display: flex;
    align-items: auto;
    justify-content: center;

}
.side-menu li{
    font-size: 20px;
    font-family:Cascadia Code,Consolas,'Courier New',monospace;
    padding: 10px 40px;
    color:whitesmoke;
    display: flex;
    align-items: center;

}
.side-menu li:hover{
  background: rgb(158, 168, 158);
  color: rgb(107, 63, 28);
}
.row {
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-wrap: wrap;          
    gap: 50px;
    padding: 20px;
    margin-left: 100px;
    margin-top: 80px; 
    margin-bottom: 100px;     
}

.row .card img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; 
}
img {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  cursor: pointer;
  border-radius: 8px; /* Matches the rounded look in your photo */
}

img:hover {
  transform: scale(1.05); /* Grows by 5% */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Adds depth */
}