*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;
    background:url('pic.jpg') no-repeat;
    background-size: cover;
}
header{
    position:fixed;
    top:0;
    width:100%;
    padding:10px 100px;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index:99;
}
.logo{
    font-size: 2em;
    user-select:none;
    color:#fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color:white;
    text-decoration: none;
    font-weight: 500;
    margin-left:40px;
    
}
.navigation a::after{
    content:'';
    position:absolute;
    left:0;
    bottom:-6px;
    width:100%;
    height:3px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition:transform .5s;
}
.navigation a:hover::after{
    transform: scaleX(1);
}
.navigation .btnLogin-popup{
    width:130px;
    height:50px;
    background:transparent;
    border:2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor:pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation .btnLogin-popup:hover{
    background: white;
    color:black;
}
.wrapper{
    position:relative;
    width:400px;
    height:440px;
    background: transparent;
    border:2px solid rgb(212, 211, 211);
    border-style:inset;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .form-box {
    width:100%;
    padding: 40px;

}
.form-box h2{
    font-size:2em;
    color:black;
    text-align:center;
}
.input-box{
    position: relative;
    width:100%;
    height: 50px;
    border-bottom:2px solid rgb(76, 76, 76);
    margin:30px;
}
.input-box label{
    position: absolute;
    top: 50%;
    left:5px;
    transform: translateY(-50%);
    font-size:1em;
    color:rgb(88, 86, 86);
    font-weight: 500;
    pointer-events: none;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top:-5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline:none;
    padding: 0 35px 0 5px;

}
.input-box .icon{
    position: absolute;
    right:8px;
    font-size: 1.2em;
    color:rgb(114, 112, 112)
}
.remember-forget{
    font-size: .9em;
    color: rgb(52, 51, 51);
    font-weight:500;
    margin:-15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forget label input{
    accent-color: rgb(152, 151, 151);
    margin-right:3px;
}
.remember-forget a{
    color:rgb(104, 103, 103);
    text-decoration: none;
}
.remember-forget a:hover{
    text-decoration: underline;

}
.btn{
    width:100%;
    height: 45px;
    background: rgb(63, 62, 62);
    border:none;
    border-radius: 6px;
    cursor: pointer;
    font-size: medium;
    color: #fff;
    font-weight: 500;
}
.login-register{
    font-size: .9em;
    text-align: center;
    color: rgb(65, 64, 64);
    font-weight: 500;
    margin:25px;
}
.login-register p a{
    color:rgb(43, 42, 42);
    text-decoration: none;
    font-weight: 600;

}
.login-register p a:hover{
    text-decoration: underline;

}
